<button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#'+modalid">{{nombreBoton}}</button>

<div class="modal fade" id="{{modalid}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Persona</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="divMensaje"></div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label for="recipient-id_estudiante" class="col-form-label">Estudiante:</label>            
            <select [(ngModel)]="dataCalificacion.id_estudiante" class="form-control" id="recipient-id_estudiante" name="recipient-id_estudiante">
              <option *ngFor="let estudiante of dataEstudiantes" [ngValue]="estudiante.id">
                {{estudiante.nombres + ' ' + estudiante.apellidos}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="recipient-nombre_tarea" class="col-form-label">Nombre Tarea:</label>
            <input type="text" name="recipient-nombre_tarea" [(ngModel)]="dataCalificacion.nombre_tarea" class="form-control" id="recipient-nombre_tarea" required>
          </div>
          <div class="mb-3">
            <label for="recipient-fecha_inicio" class="col-form-label">Fecha Inicio:</label>
            <input name="recipient-fecha_inicio" type="text" [(ngModel)]="dataCalificacion.fecha_inicio"  class="form-control" id="recipient-fecha_inicio" required>
          </div>          
          <div class="mb-3">
            <label for="recipient-fecha_fin" class="col-form-label">Fecha Fin:</label>
            <input name="recipient-fecha_fin" type="text" [(ngModel)]="dataCalificacion.fecha_fin" class="form-control" id="recipient-fecha_fin" required>
          </div>
          <div class="mb-3">
            <label for="recipient-calificacion" class="col-form-label">Calificacion:</label>
            <input name="recipient-calificacion" type="text" [(ngModel)]="dataCalificacion.calificacion" class="form-control" id="recipient-calificacion" required>
          </div>
          <div class="modal-footer">
            <input type="button" id="btnCerrarModal" class="btn btn-secondary" value="Cerrar" data-bs-dismiss="modal">
            <input type="button" id="btnGuardar" class="btn btn-primary" value="Guardar" data-bs-dismiss="modal" (click)="guardar()">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>