
<app-header
  [titulo]="'VmtDevNg'"  
  [numero]="numero"
></app-header>

<br />

<div class="p-3">
  <app-modal-persona
    (eventoGuardar)="guardarPersona($event)"
    [nombreBoton]="'Nuevo'"
  ></app-modal-persona>
</div>

<br />

<style>
  /*td {
    text-align: center;
    vertical-align: middle;
  }*/
</style>

<div class="table-responsive p-3">
  <table class="table">
    <thead>
      <th class="text-center">Id</th>
      <th class="text-center">Identificacion</th>
      <th class="text-center">Nombres</th>
      <th class="text-center">Apellidos</th>
      <th class="text-center">Fecha_nacimiento</th>
      <th class="text-center">Curso</th>
      <th class="text-center">Representante</th>
      <th class="text-center">Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of dataEstudiantes">
        <td>{{ estudiante.id }}</td>
        <td>{{ estudiante.identificacion }}</td>
        <td>{{ estudiante.nombres }}</td>
        <td>{{ estudiante.apellidos }}</td>
        <td>{{ estudiante.fecha_nacimiento }}</td>
        <td>{{ estudiante.curso }}</td>
        <td>
          <app-modal-representante
            [dataRepresentante]="estudiante.representante"
            [modalid]="'modalrepresentante' + estudiante.id"
            [nombreBoton]="'Representante'"            
          ></app-modal-representante>
        </td>
        <td>
          <app-modal-persona
            [dataEstudiante]="estudiante"
            [modalid]="'modalpersona' + estudiante.id"
            [nombreBoton]="'Editar'"
          ></app-modal-persona>
        </td>
      </tr>
    </tbody>
  </table>
</div>
