<app-header [titulo]="'VmtDevNg'" [numero]="numero"></app-header>

<br />

<div class="p-3">
  <app-modal-nota
    (eventoGuardar)="guardarNota($event)"
    [nombreBoton]="'Nuevo'"
  ></app-modal-nota>
  <input type="button" class="btn btn-secondary ms-1" (click)="imprimir()" value="Imprimir">
</div>

<br />

<style>
 /* td {
    text-align: center;
    vertical-align: middle;
  }*/
</style>

<div class="table-responsive p-3">
  <table class="table">
    <thead>
      <th class="text-center">Id</th>
      <th class="text-center">Estudiante</th>
      <th class="text-center">Nombre Tarea</th>
      <th class="text-center">Fecha Inicio</th>
      <th class="text-center">Fecha Fin</th>
      <th class="text-center">Calificacion</th>
      <th class="text-center">Estado</th>
      <th class="text-center">Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let nota of dataCalificaciones">
        <td>{{ nota.id }}</td>
        <td>{{ nota.nombre_estudiante }}</td>
        <td>{{ nota.nombre_tarea }}</td>
        <td>{{ nota.fecha_inicio }}</td>
        <td>{{ nota.fecha_fin }}</td>
        <td>{{ nota.calificacion }}</td>
        <td>{{ nota.calificacion | notapipe }}</td>
        <td>
          <app-modal-nota
            [dataCalificacion]="nota"
            [modalid]="'modalnota' + nota.id"
            [nombreBoton]="'Editar'"
          ></app-modal-nota>
        </td>
      </tr>
    </tbody>
  </table>
</div>
